
.total{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  .middle{
      flex-direction: row;
  }
/*header*/
header{
    background-color: grey;
    border: 2px;
    border-style: solid;
    border-radius: 2px;
    text-align: center;
}
/*header*/
nav{
    background-color: grey;
    border: 2px;
    border-style: solid;
    border-radius: 2px;
    text-align: center;
}
/*section*/
section{
    background-color: grey;
    border: 2px;
    border-style: solid;
    border-radius: 2px;
    text-align: center;
    max-width: 50%;
}
/*article*/
article{
    background-color: grey;
    border: 2px;
    border-style: solid;
    border-radius: 2px;
    text-align: center;
}
/*aside*/
aside{
    background-color: grey;
    border: 2px;
    border-style: solid;
    border-radius: 2px;
    text-align: center;
    max-width: 20%;
}
/*footer*/
footer{
    background-color: grey;
    border: 2px;
    border-style: solid;
    border-radius: 2px;
    text-align: center;
}
.total{
    padding: 2px;
}
